
ul.address {
    margin-top: 2em;
    border-top: 1px solid #AFAFAF;
    padding-top: 0.5em;
}
ul.address li {
    display: block;
}
ul.address li ul.address-text li {
    display: inline-block;
    font-size: 1em;
    color: #fff;
    margin-top: 1em;
	font-weight: 400;
}
ul.address li ul.address-text li:nth-child(1){
	width: 20%;
}
ul.address li ul.address-text li a {
    color: #fff;
	text-decoration:none;
}
ul.address li ul.address-text li a:hover{
        color: #00a78e;
}
ul.address-text b {
    color:#fff;
}

/*-- about-us --*/
span.border {
    width: 18%;
    background: #8C8989;
    height: 1px;
    display: block;
    margin-top: 26px;
    position: relative;
    margin: 23px auto 0px;
}
 span.border:after {
       content: ' ';
    position: absolute;
    background: #00a78e;
    height: 7px;
    display: block;
    width: 73px;
    top: -4px;
    left: 103px;
}
span.border.one:after {
    content: ' ';
    position: absolute;
    background: #00a78e;
    height: 7px;
    display: block;
    width: 73px;
    top: -4px;
    left: 64px;
}


#work {
    padding: 2em 0;
}
.timeline {
  list-style: none;
    padding: 10px 0 10px;
  position: relative;
}




.timeline-badge.primary {
  background-color: #eb5424 !important;
}

.timeline-badge.success {
  background-color: #237f52 !important;
}

.timeline-badge.warning {
  background-color: #f0ad4e !important;
}

.timeline-badge.danger {
  background-color: #bb1e10 !important;
}
.timeline-badge.pass {
  background-color: #fdbd10 !important;
}
.timeline-badge.info {
  background-color: #44c7f4 !important;
}
h4.timeline-title {
       color :#92DD03;
    font-size: 1.2em;
        font-weight: 600;
}
ul.year {
    text-align: left;
	    margin-left: 5em;
}
ul.year li {
     list-style: none;
    margin-top:30px;
    font-size: 1em;
    color: #fff;
    text-align: center;
    background: #1b242f;
    padding: 5px 0;
    width:60%;
    display: block;
}
ul.year li:nth-child(1){
	   // margin-top: 145px;
		margin-left:40px;
}
ul.year li:nth-child(2){
	    margin-top: 145px;
		margin-left:40px;
}
ul.year li:nth-child(3){
	    margin-top: 145px;
		margin-left:40px;
}
ul.year li:nth-child(4){
	    margin-top: 116px;
		margin-left:40px;
}
ul.year li:nth-child(5){
	    margin-top: 112px;
		margin-left:40px;
}

.time-main {
    margin-top: 1em;
	margin-right:100px;
}
/*--//work--*/



.timeline-body li
{
font-weight: bold;
color:darkcyan;
font-family:Times New Roman;
font-size:18px;
line-height:25px;
}
.timeline > li {
  margin-bottom:15px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: calc( 100% - 75px );
    float: right;
    border: 1px solid #d4d4d4;
     padding: 17px 15px;
    position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
   box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
      background: #fff;
	  border-bottom: 5px solid #00a78e;
	
}



.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 18px;
  left: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-right: 15px solid #ccc;
  border-left: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top:19px;
  left: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-right: 14px solid #fff;
  border-left: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: -33px;
  margin-right: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}


